# Prerequisites
*.d

# Object files
*.o
*.ko
*.elf

# Libraries
*.lib
*.a
*.la
*.lo
*.so
*.so.*

**/build/

.lock-waf*

# symlinked to common
**/include

pebble-sdk*
Compass/src/c/Compass.c
Bouncy/src/c/Accelerometer.c
Bouncy/src/c/DateTime.c
Bouncy/src/c/GravBall.c
Bouncy/src/c/TextBox.c
Bouncy/src/c/Timer.c
Bouncy/src/c/Window.c
Compass/src/c/App.c
Compass/src/c/TextBox.c
Compass/src/c/Window.c
Conway/src/c/Click.c
Conway/src/c/Conway.c
Conway/src/c/Conway.h
Conway/src/c/DateTime.c
Conway/src/c/TextBox.c
Conway/src/c/Timer.c
Conway/src/c/Window.c
GravBall/src/c/Accelerometer.c
GravBall/src/c/App.c
GravBall/src/c/GravBall.c
GravBall/src/c/Window.c
Pinger/src/c/Timer.c
Pinger/src/c/Window.c
Ticker/src/c/DateTime.c
Ticker/src/c/Index.c
Ticker/src/c/TextBox.c
Ticker/src/c/Timer.c
Ticker/src/c/Window.c
Ticker/src/c/utils.c
